* {
    margin: 0;
    
    font-family: Arial;
}

body {
    margin: 0; /* Remove default margin */
    height: 100vh; /* Make sure it covers the entire viewport height */
    background: linear-gradient(to right,rgb(215, 210, 210),rgb(232, 221, 221) );
}

.navbar {
    height: 60px;
    width: 100%;
    background-color: #0F1111;
    padding: 3px;
    display: flex;
    
    
}

.box1 {
    height: 55px;
    position: relative;
    left: 5px;
    
}
.box1:hover {
    border: 1px solid white;
}

/* box2 */
.box2 {
    height: 60px;
    width: 80px;
    color: white; 
    position: relative;  
    left: 4px;
}

/* box2_para1 */
#box2_para1 {
    font-size: 0.90rem;
    color: #CCCCCC;
    position: relative;
    top: 8px;
    left: 12px;
}

/* box2_para2 */
#box2_para2 {
    position: relative;
    top: 12px;
    left: 5px;
}

/* box2 hover */
.box2:hover {
    border: 1px solid white;
}

.box3 {
    height: 60px;
    width: 900px;
    background-color: #0F1111;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10px;
}



#box3-1 {
    height: 40px;
    width: 50px;
}

#box3-1-1 {
    height: 40px;
    width: 50px;
    background-color: #E6E6E6;
    font-size: 15px;
    color: rgb(119, 119, 119);
    padding-left: 5px;
    border: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#box3-2 {
    height: 40px;
    width: 750px;
    
}

#box3-2-1 {
    height: 40px;
    width: 750px;
    font-size: 15px;
    padding-left: 10px;
    border: 0px;
}

#box3-3 {
    height: 40px;
    width: 40px;
    
}

#box3-3-1 {
    height: 40px;
    width: 40px;
    background-color: rgb(255, 215, 56);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0px;

}

.fa-magnifying-glass {
    font-size: 20px;
}

#box3-1-1:focus {
    outline: none;
}

#box3-2-1:focus {
    outline: none;
}

#box4 {
    height: 50px;
    width: 85px;
    background-color: #0F1111;
    position: relative;
    top: 5px;
    display: flex;
    align-items: flex-end;
}

#box4-1 {
    height: 15px;
    width: 40px;
    background-color: #0F1111;
    color: whitesmoke;
    border:0px;
    position: relative;
    left: 17px;
    bottom: 15px;
    
}

#box4-1:focus {
    outline: none;
}

#box4:hover {
    border: 1px solid white;
}

#flag {
    height: 25px;
    width:25;
    position: relative;
    left: 8px;
    bottom: 10px;
}

.box5 {
    height: 50px;
    width: 180px;
    background-color: #0F1111;
    position: relative; 
    left: 10px;
    top:5px;

}

.box5:hover {
    border: 1px solid white;
}

#text {
    font-size: 14px;
    font-weight: 700;
    position: relative;
    top: 2px;
    color: white;
}

#box5-1 {
    width: 160px;
    height: 26px;
    font-size: 15px;
    position: relative;
    bottom: -4px;
    font-weight: 800;
    color: white;
    background-color: #0F1111;
    border: 0px;
}

.box6 {
    height: 50px;
    width: 115px;
    background-color: #0F1111;
    position: relative;
    left: 20px;
    top: 5px;
    display: flex;
}

.fa-cart-shopping {
    font-size: 40px;
    position: relative;
    left: 10px;
    top: 5px;
    color: whitesmoke;
}

#textCart {
    position: relative;
    left: 20px;
    top: 25px;
    color: white;
    font-weight: 700;
}

.box6:hover {
    border: 1px solid white;
}

.navbar2 {
    height: 40px;
    width: 100%;
    background-color: #233354;
    display: flex;
    align-items: center;
    

    
}

#all_box {
    height: 38px;
    width: 60px;
    background-color: #233354;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
}

.material-symbols-outlined {
    height: 25px;
    color: white;
    position: relative;
    top: 5px;
    left: 2px;
}

#all_box:hover {
    border: 1px solid white;
}

#Deals_box {
    height: 38px;
    width: 105px;
    background-color: #233354;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

#Deals_box:hover {
    border: 1px solid white;
}

#Service_box {
    height: 38px;
    width: 135px;
    background-color: #233354;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

#Service_box:hover {
    border: 1px solid white;
}

#registry_box {
    height: 38px;
    width: 70px;
    background-color: #233354;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

#registry_box:hover {
    border: 1px solid white;
}

#gift_box {
    height: 38px;
    width: 80px;
    background-color: #233354;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

#gift_box:hover {
    border: 1px solid white;
}

#sell_box {
    height: 38px;
    width: 40px;
    background-color: #233354;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

#sell_box:hover {
    border: 1px solid white;
}

#hero {
    height: 300px;
    width: 100%;
    background-image: url("hero.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

#hero_msg {
    height: 40px;
    width: 95%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
    font-size: 14px;    
}

#hero_msg a {
    color: blue;
    text-decoration: none;
}

#hero_msg a:hover {
    text-decoration: underline;
}

#section1 {
    height: 400px;
    width: 100%;
    /* background-color: white; */
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#sec1_1 {
    height: 375px;
    width: 320px;
    background-color: white;
    
}

#sec1_2 {
    height: 375px;
    width: 320px;
    background-color: white;
}

#sec1_3 {
    height: 375px;
    width: 320px;
    background-color: white;
}

#sec1_4 {
    height: 375px;
    width: 320px;
    background-color: white;
}

#section2 {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

#sec2_1 {
    height: 375px;
    width: 320px;
    background-color: white;
}

#sec2_2 {
    height: 375px;
    width: 320px;
    background-color: white;
}

#sec2_3 {
    height: 375px;
    width: 320px;
    background-color: white;
}

#sec2_4 {
    height: 375px;
    width: 320px;
    background-color: white;
}

#section3 {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

#sec3_1 {
    height: 375px;
    width: 320px;
    background-color: white;
}

#sec3_2 {
    height: 375px;
    width: 320px;
    background-color: white;
}

#sec3_3 {
    height: 375px;
    width: 320px;
    background-color: white;
}

#sec3_4 {
    height: 375px;
    width: 320px;
    background-color: white;
}

.smallbox {
    height: 130px;
    width: 130px;
    display: inline-block;
    margin: 10px;
    margin-top: 10px;
    margin-left: 15px;
}

.smallbox img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bigbox {
    height: 285px;
    width: 285px;
    margin-top: 10px;
    margin-left: 15px;
}

.bigbox img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main_box {
    height: 130px;
    width: 130px;
    display: inline-block;
    margin: 10px;
    margin-top: 10px;
    margin-left: 15px;
    
}

.img_box {
    height: 110px;
    width: 130px;
    
}

.img_box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.big_small_box {
    height: 180px;
    width: 285px;
    margin-left: 15px;
}

.big_small_box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.big_small_box2 {
    height: 100px;
    width: 285px;
    margin-left: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boxx1 {
    height: 90px;
    width: 135px;
    
}

.boxx1_img {
    height: 75px;
    width: 135px;
    
}

.boxx1_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.last_section {
    height: 275px;
    width: 95%;
    margin-left: 37px;
    background-color: white;
    
}

.last_sec {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}

.last_sec img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.footer {
    height: 600px;
    width: 100%;
    
}

#footer_1 {
    height: 45px;
    width: 100%;
    background-color: rgb(49, 77, 101);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;

}

#footer_2 {
    height: 400px;
    width: 100%;
    background-color: #232f3f;
    display: flex;
    justify-content:center;
    align-items: center;
}

.footer_2_box {
    height: 350px;
    width: 190px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
}

li {
    color: rgb(213, 206, 206);
    margin-bottom: 20px;
    font-size: 14px;
}

.h_of_list {
    color: whitesmoke;
}

#footer_3 {
    height: 150px;
    width: 100%;
    background-color: #232f3f;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_3_box {
    height: 30px;
    width: 150px;
    border: 0.5px solid  rgb(203, 199, 199);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.footer_3_1_box {
    height: 50px;
    width: 130px;
    margin: 20px;

}

#img_of_footer {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
